.Homepage {
  /* put around the vertical center of page */
  /* height: calc(100vh - 150px); */
  height:100vh;
  /* display: inline-block; */
  align-items: center;
  /* color: #ffffff;
  text-shadow: 2px 2px 5px rgb(52, 48, 47); */
}