.Homepage {
  align-items: center;
  position: relative;
}

.Homepage-header {
  color: #545454;
}


.jumbotron {
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.351);

  width: 100%;
  position: absolute;
}