.Navigation {
    text-align: left;
    background-color: #404040;
  }
  
  /* .nav-item a:hover {
    background-color: #4991FD;
    padding: 10%;
  } 
  
  .nav-item a.active {
    font-weight: bold;
    background-color: #4991FD;
    padding: 10%;
  } */

/* .Navigation {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
} */

.nav-item a.active {
  color: #dfc770;
}

.nav-item a {
  color: white;
  margin-right: 0.75vw;
}

.nav-item a:hover {
  color: #F4EBCD;
}

.Navigation-brand {
  width: 125px;
  margin-top: 0;
  margin-bottom: 0;
}
