.Navigation {
    background-color: tomato;
    text-align: left;
    font-weight: bold;
  }
  
  .Navigation a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  .Navigation a:hover {
    background-color: black;
    color: white !important;
  }
  
  .Navigation a.active {
    font-weight: bold;
    color: black;
  }