.Navigation {
    text-align: left;
    font-weight: bold;
  }
  
  .Navigation a:hover {
    background-color: rgb(0, 38, 109);
  } */
  
  .nav-item a.active {
    font-weight: bold;
    background-color: navy;
    padding: 10%;
  }

#Navigation-link-companies, #Navigation-link-jobs, #Navigation-link-profile, #Navigation-link-signup, #Navigation-link-login {
  text-decoration: none;
  color: white;
}
